<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MustHaveJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
 
  
 <servlet>
 <servlet-name>HelloServlet</servlet-name>
 <servlet-class>servlet.HelloServlet</servlet-class>
 </servlet> 
 
 <!-- 
 <servlet-mapping>
 <servlet-name>HelloServlet</servlet-name>
 <url-pattern>/13Servlet/HelloServlet.do</url-pattern>
 </servlet-mapping>
  -->
 
  <!--어노테이션으로 매핑하기-->
  <servlet-mapping>
 <servlet-name>HelloServlet</servlet-name>
 <url-pattern>/HelloServlet.do</url-pattern>
 </servlet-mapping>
 
 <!-- 
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>13Servlet/DirectServletPrint.do</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>13Servlet/DirectServletPrint.do</url-pattern>
  </servlet-mapping>
  -->
 
 
 
<context-param>
 <param-name>INIT_PARAM</param-name>
 <param-value>web.xml에 저장한 초기화 매개변수</param-value>
</context-param>
<context-param>
 <param-name>OracleDriver</param-name>
 <param-value>com.mysql.cj.jdbc.Driver</param-value>
</context-param>
<context-param>
 <param-name>OracleURL</param-name>
 <param-value>jdbc:mysql://localhost:3306/musthave</param-value>
</context-param>
<context-param>
 <param-name>OracleId</param-name>
 <param-value>musthave</param-value>
</context-param>
<context-param>
 <param-name>OraclePwd</param-name>
 <param-value>q1w2e3r4</param-value>
</context-param>
</web-app>